body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 60px 0;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px dotted grey;
}

h2 {
  margin: 0 5px;
  font-size: 28px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

footer {
  text-align: center;
}
